<ion-header>
  <ion-toolbar>
    <ion-title>personas</ion-title>
    <ion-buttons slot= "start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="list-group ">
    <h2></h2>
    <li 
    *ngFor="let persona of personas" 
    class="list-group-item list-group-item-action"
    (click)="openForEdit(persona)" 
    [class.active]="persona == selectedpersona"
    >
   <span class="badge badge-primary">{{persona.id}} </span>
   <span>{{persona.nombre}}</span> {{persona.apellido }}
 </li>
</ul>
<div class="card  mt-4">
  <div class ="card-body">
      <div class="card-title">
          Inserta un nueva persona
      </div>
      <div class="form-group">
          <input type="text" [(ngModel)]="selectedPersona.nombre" placeholder="Escribe un nombre" class="form-control">
      </div>
      <div class="form-group">
          <input type="text"[(ngModel)]="selectedPersona.apellido" placeholder="Escribe un apellido" class="form-control">
      </div>
      <div class="form-group">
          <input type="text" [(ngModel)]="selectedPersona.direccion" placeholder="Escribe una direccion" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedPersona.telefono" placeholder="Escribe un telefono" class="form-control">
    </div>
      <button  *ngIf="selectedPersona !== null" (click)="addOnEdit()" class="btn btn-primary">
          Guardar
      </button>
      <button 
      *ngIf="selectedPersona.id !== 0"
      class="btn btn-danger" 
      (click)="delete()"       >
          Borrar
      </button>
      <button class="btn btn-secondary"           
      (click)="limpiar()"    >
         Limpiar
      </button>
  </div>
</div>
</ion-content>
